:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark{
  --background: #191919 
}

.widget {
  /* max-width: 400px; 
  max-height: 300px; 
  min-height: 16rem; */
  height: 18rem;
  width: 18rem;
}

.widget:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.add-widget {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d3d3d3;
  border-radius: 8px;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.add-widget:hover {
  background-color: #bbb;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  padding: 16px;
  background-color: #f0f4f8;
  min-height: 100vh;
}
