.modalOverlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: opacity 250ms ease-in, visibility 250ms ease-in;
}
  
.modalContent {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}
  
.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: black;
}

.show{
    visibility: visible;
    opacity: 1;
}

.hide{
    visibility: hidden;
    opacity: 0;
}

  