name: CI/CD Pipeline

on:
  push:
    branches:
      - main
      - feat/*
      - test/*
  pull_request:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-24.04
    if: github.ref == 'refs/heads/main'

    steps:
      # Step 1: Checkout the code
      - name: Checkout code
        uses: actions/checkout@v3

      # Step 2:
      - name: Deploy via rsync
        env:
          HOST: ${{ secrets.HOST }}
          USER: ${{ secrets.USER }}
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
        run: |
          echo "${PRIVATE_KEY}" > ssh_key
          chmod 600 ssh_key
          ssh-keyscan -H "${HOST}" >> ~/.ssh/known_hosts
          rsync -avz -e "ssh -i ssh_key" ./out/ ${USER}@${HOST}:/var/www/dashboard/

        #updated github secrets
