name: CI/CD Pipeline

on:
  push:
    branches:
      - main
      - feat/*
      - test/*
  pull_request:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-24.04
    if: github.ref == 'refs/heads/main'

    steps:
      # Step 1: Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v3

      # Step 2: Configure SSH
      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh  # Ensure .ssh directory exists
          echo "${PRIVATE_KEY}" > ssh_key
          chmod 600 ssh_key
          ssh-keyscan -H ${HOST} >> ~/.ssh/known_hosts
          ls -la ~/.ssh  # Debugging to check contents of .ssh directory
          cat ~/.ssh/known_hosts  # Debugging to ensure known_hosts was updated correctly
        env:
          HOST: ${{ secrets.SSH_HOST }}
          PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}

      # Step 3: Deploy with rsync
      - name: Deploy to VPS
        run: |
          rsync -avz -e "ssh -i ssh_key -vvv" ./out/ ${USER}@${HOST}:/var/www/dashboard/
        env:
          HOST: ${{ secrets.SSH_HOST }}
          USER: ${{ secrets.SSH_USER }}
          PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
